<h1>Edit Member</h1>
<form action="/member/edit/<%= @member.id %>" method="post">
  <div class='form-member'>
    <input name="_method" type="hidden" value="patch">
    <label for="new_member_name">Edit a member name:</label>
    <input class='form-control' type="text" name="new_member_name" placeholder='Member Name'><br>
  </div>
  <h4>Add to a group:</h4>
  <select class="custom-select" name="group_id" style="width: 100%;">
  <% if @groups.any? %>
    <div>
      <% @groups.each do |group| %>
        <option value="<%= group.id %>">
          <%= group.name %>
        </option>
      <% end %>
    </div>
    </select>
  <% end %><br>
  <% if @not_saved == true %>
    <div class="alert alert-danger">
      <h1>Did Not Save, Member Already Exists</h1>
    </div>
  <% end %>
  <br>
  <button type="submit" class='btn btn-info' name="button">Update Member!</button>
  <br><br>
  <a href='/'>Take me home tonight</a>
</form>
