<h1><%= @member.name %> </h1>
<h4>this member is apart of:</h4>
<div>
  <% if @member.groups.any? %>
    <ul>
      <% @member.groups.each do |group| %>
        <li><%= group.name %></li>
      <% end %>
    </ul>
    <% else %>
    <p>No Group</p>
  <% end %>
</div>

<h4>Select availability for this member:</h4>
<form>
  <div>
  <% @days.each do |day| %>
    <div class="checkbox">
      <label><input type='checkbox' name='day_ids[]' value="<%= day.id() %>"><%= day.name %></label>
    </div>
  <% end %>


    <button type="submit" class='btn btn-info'>Submit availability</button>
  </div>
</form>

<br>
<a href='/'>Take me home tonight</a>
